@page "/students"
@inject IStudentService StudentService
@inject IJSRuntime js
@inject NavigationManager navigator

<h3>Students</h3>
<table border cellspacing=15 cellpadding=15>
    <thead>
        <tr>
            <th @onclick="@(() => Sort("Avatar"))">Avatar</th>
            <th @onclick="@(() => Sort("Name"))">Name</th>
            <th @onclick="@(() => Sort("LastName"))">LastName</th>
            <th @onclick="@(() => Sort("BirthDate"))">BirthDate</th>
            <th @onclick="@(() => Sort("Studies"))">Studies</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var stud in StudentsList)
        {
            <tr>
                <td><img alt="@(stud.Name) @(stud.LastName) Avatar" src="@stud.Avatar"/></td>
                <td>@stud.Name</td>
                <td>@stud.LastName</td>
                <td>@stud.BirthDate.ToShortDateString()</td>
                <td>@stud.Studies</td>
                <td>
                    <button class="btn" @onclick="(() => DeleteStudent(stud.IdStudent))">Delete</button>
                    <button class="btn2" @onclick="(() => ShowDetails(stud.IdStudent))">Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    public List<Data.Student> StudentsList { get; set; }
    public KeyValuePair<string, bool> ColumnSort { get; set; } = new KeyValuePair<string, bool>("", false);

    protected override void OnInitialized()
    {
        StudentsList = StudentService.GetStudents();
    }

    private void Sort(string columnName)
    {
        if(ColumnSort.Key != columnName)
        {
            ColumnSort = new KeyValuePair<string, bool>(columnName, false);
        } else
        {
            ColumnSort = new KeyValuePair<string, bool>(columnName, !ColumnSort.Value);
        }

        if (ColumnSort.Value)
        {
            SortDesc(columnName);
        } else
        {
            SortAsc(columnName);
        }
    }

    private void SortAsc(string columnName)
    {
        StudentsList = StudentsList.OrderBy(e => e.GetType().GetProperty(columnName).GetValue(e, null)).ToList();
    }

    private void SortDesc(string columnName)
    {
        StudentsList = StudentsList.OrderByDescending(e => e.GetType().GetProperty(columnName).GetValue(e, null)).ToList();
    }

    private async Task DeleteStudent(int id)
    {
        var result = await js.InvokeAsync<bool>("confirm", "Are you sure?");
        if (result)
        {
            StudentService.Remove(id);
        }
    }

    private void ShowDetails(int id)
    {
        navigator.NavigateTo("/students/" + id);
    }
}
